<!DOCTYPE html>
<html>
<head>
	<title>Editing <%=grocery.name%></title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

	<h1>Editing <%=grocery.name%></h1>

	<form action="/grocery/<%=id%>/edit?_method=PUT" method="POST">
		<input type="text" name="name"><%=grocery.name%></input>
		<input type="text" name="amount"><%=grocery.amount%></input>
		<button type="submit">Submit</button>
	</form>

</body>
</html>